.email-list-container {
	width: 100%;
}

.email-list > * {
	cursor: pointer;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 3px;
	transition: all 0.3s ease-out;
}

.email-list > *:hover {
	box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
		0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.email-row {
	width: 100%;
	gap: 10px;
	transition: all 0.3s ease-out;
}

.email-row.open {
	font-weight: 600;
	color: #111;
}

.email-row .actions .btn {
	color: rgb(72, 72, 72);
	opacity: 0.8;
	background-color: transparent;
}

.email-row .actions .btn:hover {
	opacity: 1;
}

.starred {
	color: #ffc300 !important;
}
