:root {
	--clr-sec-txt: #5f6368;
	--clr-icon-dark: #5f6368;
}

.email-app {
	display: grid;
	height: 100%;
	grid-template-areas:
		'nav filter filter filter'
		'emails emails emails emails'
		'emails emails emails emails';
}

.email-app-body {
	gap: 25px;
}
