.note {
	padding: 10px 15px;
	/* background-color: #fff; */
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	/* min-height: 150px; */
	max-width: 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

.note-preview {
	height: 100%;
	font-size: 16px;
}

.note-preview .actions {
	justify-content: center;
}
