.note-color {
	display: inline-block;
	position: relative;
}

.btn-color {
	height: 15px;
	width: 15px;
	border-radius: 50px;
}

.btn-color.active {
	border: 2px solid rgba(0, 0, 0, 0.3);
}

.pick-color {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3px;
	/* background-color: rgba(0, 0, 0, 0.377); */
	background-color: #fff;
	left: 0;
	padding: 0.5rem;
	border-radius: 8px;
	z-index: 1000;
}
