.note-add {
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	border-radius: 8px;

	margin-bottom: 20px;
}

.input-note-add {
	padding: 10px 15px;
	border: none;
	width: 100%;
}

.note .btn {
	background-color: transparent;
	font-size: 18px;
}

.box-note-add {
	padding: 10px 20px;
	border-radius: 12px;
	margin-bottom: 25px;
}
